header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--lightBeige);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
