header {
    position: fixed;
    height: 7vh;
    top: 0;
    width: 100%;
    padding: .1rem;
    background-color: var(--lightBeige);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

header img {
    margin-left: 2rem;
    height: 6.5vh;
}
