.recipesList {
  margin: 2rem 0 1rem 4rem;
  display: inline-flex;
}

.recipeCard {
  width: 20vw;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 5px #333;
}

.filteredRecipes {
  margin-bottom: 9vh;
}

.recipeCard h1 {
  font-size: 22px;
  padding: 0.7rem;
  font-weight: 700;
  color: black;
}

.recipeCard h2 {
  padding: 0.7rem 0.7rem 0 0.7rem;
  line-height: 1.5;
  font-size: 22px;
}

.recipeCard h4 {
  margin: 1rem 0 1rem 0;
  line-height: 1.5;
}

.cardText {
  padding: 0.5rem;
}

.item {
  padding: 0 0 0.5rem 1rem;
}

.recipeCard img {
  width: 100%;
}

.singleContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.singleRecipe {
  width: 50%;
  margin: 5rem;
}

.singleRecipe img {
  width: 400px;
}

.singleRecipe h5 {
  font-size: 20px;
  font-weight: normal;
}
.singleRecipe a:hover {
  text-decoration: none;
}

.loading {
  margin-top: 5rem;
}
